<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>unp</title>
    <!--unp icon-->
    <link rel="icon" href="../static/images/unp1.jpg" type="image/x-icon">
    <!--fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- unp CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unp.css') }}">

  </head>
  <body>

    <div class="parent">
      <!--main_menu_div-->
      <div id="main_menu_div">
        <p class="main_menu_div_text">main menu div</p>
      </div>
      
      <!--page_menu_div-->
      <div id="page_menu_div">
        <p>page menu div</p>
      </div>
      
      <!--unp_profile_div (upd)-->
      <div id="unp_profile_div">
        
        <!--upd_heading-->
        <div id="upd_heading">
          <!--upd_heading_picture-->
          <div id="upd_heading_picture">
            <img id="img_upd_heading_picture"  src="../static/images/passport_pic.jpg" >
          </div>
          
          <!--upd_heading_data-->
          <div id="upd_heading_data">
            <!--unp name, unp surname, unp email adr-->
            <div id="upd_heading_data_details">
              <!--surname-->
              <div>
                <button class="upd_btn btn" id="unp_surname">surname</button>
              </div>
              <!--name-->
              <div>
                <button class="upd_btn btn" id="unp_name">name</button>
              </div>
              <!--email adr-->
              <div>
                <button class="upd_btn btn" id="upn_email_adr">fikilek@innopen.co.za</button>
              </div>
              <!--mobile number-->
              <div>
                <button class="upd_btn btn" id="upn_mobile_number">mobile number</button>
              </div>
            </div>
            <!--unp stats-->
            <div id="upd_heading_data_stats">
              <!--total tns done-->
              <div>
                <button class="upd_btn btn" id="total_tns">total user transactions</button>
              </div>
            
              <!--total no access-->
              <div>
                <button class="upd_btn btn" id="total_na">total no aceess</button>
              </div>
              <!--TODO : add more-->
              
              
            </div>
            
          </div>
        </div >
      
        <!--upd_body-->
        <div id="upd_body">
        
          <!--upd_body_menu-->
          <div id="upd_body_menu">
            
            <!--unp profile-->
            <div>
              <button class="unp_menu_btn" title="user profile">
                  <i class="fas fa-address-card"></i>
              </button>
            </div>
            
            <!--unp stats-->
            <div>
              <button class="unp_menu_btn" title="unp stats">
                  <i class="fas fa-database"></i>
              </button>
            </div>
            
            
            <!--logon history-->
            <div>
              <button class="unp_menu_btn" title="user logon history">
                  <i class="fas fa-history"></i>
              </button>
            </div>
            
            <!--BoQ's-->
            <div>
              <button class="unp_menu_btn" title="user BoQ's">
                  <i class="fas fa-weight"></i>
              </button>
            </div>
            
            <!--SMS's-->
            <div>
              <button class="unp_menu_btn" title="user text messages">
                  <i class="fas fa-sms"></i>
              </button>
            </div>
            
            <!--emails-->
            <div>
              <button class="unp_menu_btn" title="user emails">
                  <i class="fas fa-envelope"></i>
              </button>
            </div>
          
          </div>
          
          <!--upd_body_main_display-->
          <div id="upd_body_main_display">
          
          </div>
          
        </div>
  
      </div>
    </div>

    
    
    
    
    
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- unp JS -->
     <script src="{{ url_for('static', filename='scripts/unp.js') }}" ></script>
 
  </body>
</html>