<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>unp</title>
    <!--unp icon-->
    <link rel="icon" href="../static/images/unp1.jpg" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- unp CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unp.css') }}">

  </head>
  <body>

    <!--mm div-->
    <div>
    
    </div>
    <!--pm div-->
    <div>
    
    </div>
    <!--unp profile div (upd)-->
    <div class="upd">
      <!--upd heading (updh)-->
      <div class="updh">
  
      </div >
      <!--upd body (updb)-->
      <div class="updb">
      
      </div>
      <!--upd menu (updm)-->
      <div class="updm">
      
      </div>
    </div>
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- unp JS -->
     <script src="{{ url_for('static', filename='scripts/unp.js') }}" ></script>
 
  </body>
</html>